@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "./base.css";
@import "./typography.css";
@import "./spacing.css";
@import "./theme.css";

@theme {
/* Colors */
--color-gray-50: oklch(0.985 0.001 106.423);
--color-gray-100: oklch(0.97 0.001 106.424);
--color-gray-200: oklch(0.923 0.003 48.717);
--color-gray-300: oklch(0.869 0.005 56.366);
--color-gray-400: oklch(0.709 0.01 56.259);
--color-gray-500: oklch(0.553 0.013 58.071);
--color-gray-600: oklch(0.444 0.011 73.639);
--color-gray-700: oklch(0.374 0.01 67.558);
--color-gray-800: oklch(0.268 0.007 34.298);
--color-gray-900: oklch(0.216 0.006 56.043);
--color-gray-950: oklch(0.147 0.004 49.25);
--color-primary-50: oklch(0.987 0.026 102.212);
--color-primary-100: oklch(0.973 0.071 103.193);
--color-primary-200: oklch(0.945 0.129 101.54);
--color-primary-300: oklch(0.905 0.182 98.111);
--color-primary-400: oklch(0.852 0.199 91.936);
--color-primary-500: oklch(0.795 0.184 86.047);
--color-primary-600: oklch(0.681 0.162 75.834);
--color-primary-700: oklch(0.554 0.135 66.442);
--color-primary-800: oklch(0.476 0.114 61.907);
--color-primary-900: oklch(0.421 0.095 57.708);
--color-primary-950: oklch(0.286 0.066 53.813);
--color-secondary-50: oklch(0.985 0 0);
--color-secondary-100: oklch(0.97 0 0);
--color-secondary-200: oklch(0.922 0 0);
--color-secondary-300: oklch(0.87 0 0);
--color-secondary-400: oklch(0.708 0 0);
--color-secondary-500: oklch(0.556 0 0);
--color-secondary-600: oklch(0.439 0 0);
--color-secondary-700: oklch(0.371 0 0);
--color-secondary-800: oklch(0.269 0 0);
--color-secondary-900: oklch(0.205 0 0);
--color-secondary-950: oklch(0.145 0 0);

/* Typography */
--font-family: "Nunito";
--font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-body: var(--font-family), var(--font-fallback);
--font-display: var(--font-body);
}